# Entorno virtual
.venv/
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
build/
dist/
.eggs/

# Django base de datos y media
db.sqlite3
db.sqlite3-journal
media/

# Archivos de entorno
.env
*.env

# IPython
.ipynb_checkpoints/

# IDE
.idea/
.vscode/
*.swp
*.sublime-project
*.sublime-workspace

# Sistema
.DS_Store
Thumbs.db
